<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Sign Up Below</h1>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    <form method="post" action="register.html">
        {% csrf_token %}
        <p>Username: </p>
        <label>
            <input type="text" name="username" />
        </label>
        <p>Email: </p>
        <label>
            <input type="text" name="email" />
        </label>
        <p>Password: </p>
        <label>
            <input type="password" name="password" />
        </label>
        <p>Repeat Password: </p>
        <label>
            <input type="password" name="password2" />
        </label>
        <br>
        <input type="submit" />
    </form>
<div>
    <h1>Already A User? Login!</h1>
    <a href="/login.html"><button>Login!</button></a>

</div>
</body>
</html>